@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  overflow-wrap: break-word;
  font-weight: normal;
  max-height: 600px;
  margin: 15px;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    /* place-items: center; */
    /* width: 1280px; */
  }

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}