@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  position: absolute;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}